/* Common styles & typography */
.section-heading {
    font-size: 30px;
    line-height: 30px;
}

/* Navigation */
.navbar,
.navbar-collapse {
    height: 80px;
}
.navbar-nav {
    margin-bottom: 0;
}
.navbar-brand {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.nav li > a,
.nav li > a:hover,
.nav li > a:visited,
.nav li > a:active,
.nav li > a:focus {
    position: relative;
    height: 80px;
    line-height: 80px;
    padding: 0 15px !important;
    margin: 0;
}

/* Services */
.service {
    height: 142px;
}
.service .popup {
    position: absolute;
    bottom: 160px;
    left: 0;
    opacity: 0;
}
.service:hover .popup {
    bottom: 145px;
    opacity: 1;
}

/* Blog section */
.blog {
    margin-right: 50px;
}